<td>
	<table>
		<tr><td align="center" style="font-size:1em;font-weight:bold;" colspan="3">Users Assigned to Role</td></tr>
		<tr valign="top">

			<td><div id="gridUser1"></div></td>
			<td valign="middle">

				<button id="copySelectedToGridUser2" class="k-button fas fa-caret-right" style="color:#808080;font-size:17px;width:30px;padding-left:4px;margin-bottom:5px;" onclick="AddRemoveUser('add')"> </button>
				<br />
				<button id="copySelectedToGridUser1" class="k-button fas fa-caret-left" style="color:#808080;font-size:17px;width:30px;padding-right:4px;" onclick="AddRemoveUser('remove')"> </button>

			</td>
			<td><div id="gridUser2"></div></td>
		</tr>
	</table>

</td>