<table style="width:80%;">
    <tbody>
        <tr valign="top">
            <td style="width:30.8642%;">
                <table style="width:578px;">
                    <tbody>
                        <tr>
                            <td nowrap="nowrap" style="width:146px;">
                                Mfg Name
                            </td>
                            <td style="width:430px;">[P2124_MfgName]&nbsp;</td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" style="width:146px;">
                                Eol Date
                            </td>
                            <td style="width:430px;">
                                [P2124_EolDate]
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap" style="width:146px;">
                                Model
                            </td>
                            <td style="width:430px;">
                                [P2124_Model]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width:69.077%;">
                <table style="width:1103px;">
                    <tbody>
                        <tr valign="top">
                            <td nowrap="nowrap" style="width:146px;">
                                Front Picture
                            </td>
                            <td style="width:955px;">
                                [P2124_FrontPicture]
                            </td>
                        </tr>
                        <tr valign="top">
                            <td nowrap="nowrap" style="width:146px;">
                                Rear Picture
                            </td>
                            <td style="width:955px;">
                                [P2124_RearPicture]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>