<table style="width:95%;">
    <tbody>
        <tr>
            <td style="width:9%;" nowrap="nowrap">
                HostName
            </td>
            <td style="width:20%;">
                [Device_HostName]
            </td>
            <td style="width:6%;" nowrap="nowrap">&nbsp;</td>
            <td style="width:9%;" nowrap="nowrap">Serial</td>
            <td style="width:20%;">
                [Device_Serial]
            </td>
            <td style="width:6%;" nowrap="nowrap">&nbsp;</td>
            <td style="width:9%;" nowrap="nowrap">PO</td>
            <td style="width:20%;">
                [PoInfo_PoNumber]
            </td>
        </tr>
    </tbody>
</table>