

<div id="AngularTemplatePlaceHolder007"></div>

<div id="AngularTemplateBody007">

	MainApp



</div>



<script>
	

	var AngularTemplateBody = $("#AngularTemplateBody007").html();

	$("#AngularTemplateBody007").remove();
	$("#btnTriggerAngular007").click();

	


</script>
