

<style>
	.orange .ui-grid-cell-contents {
		background-color: #FCD5B4;
	}

	.blue .ui-grid-cell-contents {
		background-color: #B8CCE4;
	}

	.red .ui-grid-cell-contents {
		background-color: #E6B8B7;
	}

	.yellow .ui-grid-cell-contents {
		background-color: #ffd800;
	}

	.grey .ui-grid-cell-contents {
		background-color: #b0adad;
	}
</style>

<div id="AngularTemplatePlaceHolder002"></div>

<div id="AngularTemplateBody002">
	

	<div class="container" style="width:97%" ng-app="MainApp">
		<div class="bs-docs" ng-controller="IPNetworkController">
			<div class="page-header">

				<div class="row">
					<div style="background-color:#89cae0">

						<div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-selection="grid" ng-model="Network" ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter></div>
					</div>

				</div>

				<div ng-show="loading" class="refreshdiv">
					<h2>LOADING</h2><br /><center><i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i></center>
				</div>

			</div>

			<div class="page-header">
				<form>

					<div class="row">
						<h3>Administrate Data</h3><br />
						<div style="width:200px; float:left">
							<label>Site:</label>
							<select class="form-control" name="singleSelect" id="singleSelect" ng-model="Network[0].Site">

								<option value="CDC">CDC</option>
								<option value="LDC">LDC</option>
								<option value="CUL">CUL</option>

							</select>

							<br />
							<label>Network: </label>
							<input class="form-control" type="text" ng-model="Network[0].Subnet" size="18" />
							<br />
							<label>IPv4 Default Gateway: </label>
							<input class="form-control" type="text" ng-model="Network[0].IPv4DefaultGateway" size="18" />
							<br />
							<label>Mask: </label>
							<input class="form-control" type="text" ng-model="Network[0].MASK" size="18" />
							<br />
						</div>
						<div style="width:275px; float:left; padding-left:2em">
							<label>IPv6:</label>
							<input class="form-control" type="text" ng-model="Network[0].IPv6" size="30" /><br />
							<label>IPv6 Default Gateway:</label>
							<input class="form-control" type="text" ng-model="Network[0].IPv6DefaultGateway" size="30" /><br />
							<label>VlAN: </label>
							<input class="form-control" type="text" ng-model="Network[0].VLAN" size="5" /><br />
							<label>Assignment: </label>
							<input class="form-control" type="text" ng-model="Network[0].ASSIGNMENT" size="30" /><br />
						</div>
						<div style="width:450px; float:left; padding-left:2em">
							<label>VRF:</label>
							<input class="form-control" type="text" ng-model="Network[0].VRF" size="40" /><br />
							<label>Network Device: </label>
							<input class="form-control" type="text" ng-model="Network[0].NetworkDevice" size="40" /><br />
							<label>Monitor Device: </label>
							<input class="form-control" type="text" ng-model="Network[0].MonitoringDevice" size="40" /><br />
						</div>
						<div style="width:450px; float:left; padding-left:2em">

							<label>Application Environment:</label>
							<select class="form-control" name="singleSelect" id="singleSelect" ng-model="Network[0].ApplicationEnvironment">
								<option value="3P Dev">3P Dev</option>
								<option value="3P Impl">3P Impl</option>
								<option value="3P Production">3P Production</option>
								<option value="Admin VLANs">Admin VLANs</option>
								<option value="AWS (Amazon Web Services)">AWS (Amazon Web Services)</option>
								<option value="CMS_AD">CMS_AD</option>
								<option value="CMSNet VRFs">CMSNet VRFs</option>
								<option value="Dedicated DEV/TEST Mgt Tools">Dedicated DEV/TEST Mgt Tools</option>
								<option value="Dedicated IMP Mgt Tools">Dedicated IMP Mgt Tools</option>
								<option value="Dedicated PROD Mgt Tools">Dedicated PROD Mgt Tools</option>
								<option value="EIDM Development">EIDM Development</option>
								<option value="EIDM IMP0">EIDM IMP0</option>
								<option value="EIDM IMP1">EIDM IMP1</option>
								<option value="EIDM Production">EIDM Production</option>
								<option value="EIDM TEST0">EIDM TEST0</option>
								<option value="EIDM TEST1">EIDM TEST1</option>
								<option value="EXTERNAL NETWORKS">EXTERNAL NETWORKS</option>
								<option value="HDI (Hosted Desktop Infrastructure)">HDI (Hosted Desktop Infrastructure)</option>
								<option value="HIM IMP  ">HIM IMP  </option>
								<option value="HIM Production">HIM Production</option>
								<option value="HIM T&D Development  Production">HIM T&D Development  Production</option>
								<option value="HP_MGT">HP_MGT</option>
								<option value="MainFrame">MainFrame</option>
								<option value="Management">Management</option>
								<option value="Misc VLANs & IP Space">Misc VLANs & IP Space</option>
								<option value="NAT">NAT</option>
								<option value="Test & Dev Test0 Production">Test & Dev Test0 Production</option>
								<option value="Test & Dev Test1 Production">Test & Dev Test1 Production</option>
								<option value="Unix PREP">Unix PREP</option>
								<option value="Unix Production">Unix Production</option>
								<option value="VPN Client">VPN Client</option>
								<option value="VPN Segments">VPN Segments</option>
								<option value="VPN SSL">VPN SSL</option>
								<option value="Web Hosting Development">Web Hosting Development</option>
								<option value="Web Hosting Implementation">Web Hosting Implementation</option>
								<option value="Web Hosting Production">Web Hosting Production</option>
								<option value="Web Hosting Test">Web Hosting Test</option>
								<option value="Windows PREP">Windows PREP</option>
								<option value="Windows Production">Windows Production</option>
								<option value="Zone 0">Zone 0</option>
							</select>
							<label>Color:</label>
							<select class="form-control" name="singleSelect" id="singleSelect" ng-model="Network[0].Color">
								<option value="grey">Grey</option>
								<option value="blue">Blue</option>
								<option value="red">Red</option>
								<option value="orange">Orange</option>
								<option value="yellow">Yellow</option>
							</select>
						</div>
						<div style="width:450px; float:left; padding-left:2em">
							<h3>Color Coding: </h3> <div style="color:#FCD5B4">Application Networks</div><div style="color:#B8CCE4">Presentation Networks</div><div style="color:#E6B8B7">Data Networks</div><div style="color:#b0adad">MGMT Networks</div><br />
							To Edit Record, click on the above record and it will load down here and then click save. To add a new record, click new and then enter your data and click save.
						</div>
					</div>
					<br /><br />
					<input type="button" ng-click="newNetwork()" value="New Network" class="btn btn-info" /> &nbsp;&nbsp;&nbsp;<input type="button" ng-click="saveNetwork()" value="Save" class="btn btn-success" /> &nbsp;&nbsp;&nbsp;  <input type="button" ng-click="deleteNetwork()" value="Delete" class="btn btn-danger" />
				</form>
				<div class="btn btn-info" ng-show="added">Updated..  You can use filter above to verify. This message will go away after 10 seconds.</div>
			</div>
		</div>


	</div>



</div>



<script>

	var AngularTemplateBody = $("#AngularTemplateBody002").html();

	$("#AngularTemplateBody002").remove();
	$("#btnTriggerAngular7").click();


</script>
