@using SourceControl.Services;


@*ustlvcmsp2167*@

<div class="app-command-bar">
    <table>
        <tr>
            <td nowrap>
                Find ports for specific end device:
            </td>
            <td><input type="text" class="form-control" id="searchString4567" name="searchString4567" style="width:250px;" /></td>
            <td><input type="button" class="btn btn-primary" id="submit" value="Search" onclick="SearchEndDevice()" /></td>
            <td>
                <a href="javascript:DownloadHostSearch()" class="app-command-item"><img src="Images/ToolBar/download.png" /><span> Download to Excel</span></a>
                Homes use alternative energy.  they are used as alternative energy                <a href="javascript:EmailHostSearch" class="app-command-item"><img src="Images/ToolBar/Email.png" /><span> Email Me Results</span></a>
            </td>
        </tr>


    </table>
</div>


<table style="width:100%;">
    <tr>
        <td style="width:70%;">
            <span style="font-size:1.5em;font-weight:bold;">Switch Port Results  <span id="grid_Port_recordcount" style="float:right;font-size:0.8em;font-weight:normal;"></span></span>
        </td>
        <td style="width:30%;">
            <span style="font-size:1.5em;font-weight:bold;">DNS Results  <span id="grid_DNS_recordcount" style="float:right;font-size:0.8em;font-weight:normal;"></span></span>
        </td>
    </tr>

    <tr>
        <td style="width:70%;">
            <div id="grid_Port" style="width:100%;"></div>
        </td>
        <td style="width:30%;">
            <div id="grid_DNS" style="width:100%;"></div>
        </td>
    </tr>

</table>


<table style="width:100%;">

    <tr>
        <td style="width:50%;">
            <span style="font-size:1.5em;font-weight:bold;">VIP Results  <span id="grid_VIP_recordcount" style="float:right;font-size:0.8em;font-weight:normal;"></span></span>

        </td>
        <td style="width:50%;">
            <span style="font-size:1.5em;font-weight:bold;">VM Results  <span id="grid_VM_recordcount" style="float:right;font-size:0.8em;font-weight:normal;"></span></span>

        </td>
    </tr>

    <tr>
        <td style="width:50%;">
            <div id="grid_VIP" style="width:100%;"></div>
        </td>
        <td style="width:50%;">
            <div id="grid_VM" style="width:100%;"></div>
        </td>
    </tr>

</table>

<script>
    $(document).ready(function () {


        $("#grid_Port").kendoGrid({
            autoBind: false,
            dataSource: {
                type: "json",
                pageable: false,
                transport: {
                    read: {
                        url: "/EndDevice/GetPortResults?searchString=xxx",
                        dataType: "json",
                        type: "POST"
                    }
                }
            },
            scrollable: true,
            sortable: true,
            groupable: false,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        endswith: "Ends with",
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        contains: "Contains",
                        doesnotcontain: "Does not contain"
                    }
                }
            },
            height: 400,
            resizable: true,
            columns: [
                { field: "DeviceName", title: "Switch Name" },
                { field: "NetworkType", title: "Network Type" },
                { field: "SwitchLocation", title: "Switch Location" },
                { field: "PortNum", title: "Port Num" },
                { field: "HostName", title: "End Device" },
                { field: "Interface", title: "Interface" },
                { field: "VLAN", title: "VLAN" },
                { field: "Comments", title: "Comments" }
            ],
            dataBound: function (e) {
                $('#grid_Port_recordcount').html(this.dataSource.total() + " records");
            }
        });


        $("#grid_DNS").kendoGrid({
            autoBind: false,
            dataSource: {
                type: "json",
                pageable: false,
                transport: {
                    read: {
                        url: "/EndDevice/GetDNSResults?searchString=xxx",
                        dataType: "json",
                        type: "POST"
                    }
                }
            },
            scrollable: true,
            sortable: true,
            groupable: false,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        endswith: "Ends with",
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        contains: "Contains",
                        doesnotcontain: "Does not contain"
                    }
                }
            },
            height: 400,
            resizable: true,
            columns: [
                { field: "host", title: "DNS Name" },
                { field: "ipAddress", title: "IP Address" },
                { field: "ipType", title: "Type" }
            ],
            dataBound: function (e) {

                $('#grid_DNS_recordcount').html(this.dataSource.total() + " records");

            }
        });

        $("#grid_VIP").kendoGrid({
            autoBind: false,
            dataSource: {
                type: "json",
                pageable: false,
                transport: {
                    read: {
                        url: "/EndDevice/GetVIPResults?searchString=xxx",
                        dataType: "json",
                        type: "POST"
                    }
                }
            },
            scrollable: true,
            sortable: true,
            groupable: false,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        endswith: "Ends with",
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        contains: "Contains",
                        doesnotcontain: "Does not contain"
                    }
                }
            },
            height: 400,
            resizable: true,
            columns: [
                { field: "f5Name", title: "Load Balancer" },
                { field: "VIPNAME", title: "VIP Name" },
                { field: "VIPIP", title: "VIP IP" },
                { field: "PoolName", title: "Pool Name" },
                { field: "NodeName", title: "Server Name" },
                { field: "NodeIP", title: "Server IP" }

            ],
            dataBound: function (e) {

                $('#grid_VIP_recordcount').html(this.dataSource.total() + " records");

            }
        });


        $("#grid_VM").kendoGrid({
            autoBind: false,
            dataSource: {
                type: "json",
                pageable: false,
                transport: {
                    read: {
                        url: "/EndDevice/GetVMResults?searchString=xxx",
                        dataType: "json",
                        type: "POST"
                    }
                }
            },
            scrollable: true,
            sortable: true,
            groupable: false,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        endswith: "Ends with",
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        contains: "Contains",
                        doesnotcontain: "Does not contain"
                    }
                }
            },
            height: 400,
            resizable: true,
            columns: [
                { field: "Environment", title: "Environment" },
                { field: "ServerName", title: "Server" },
                { field: "ESXi_Host", title: "Physical ESX Host" },
                { field: "Mgt_IP", title: "Mgt IP" },
                { field: "Prod_IP", title: "Prod IP" },
                { field: "BUR_IP", title: "Bur IP" },
                { field: "SEC_IP", title: "Sec IP" },
                { field: "Comment", title: "Comment" }

            ],
            dataBound: function (e) {

                $('#grid_VM_recordcount').html(this.dataSource.total() + " records");

            }
        });


    });


    function SearchEndDevice() {
        var searchString = $("#searchString4567").val();

        if (searchString.length == 0) {
            MessageBox("Information", "Search string is required.", false);
            return;
        }

        var grid_Port = $("#grid_Port").data("kendoGrid");
        grid_Port.dataSource.transport.options.read.url = "/EndDevice/GetPortResults?searchString=" + searchString;
        grid_Port.dataSource.read();


        var grid_DNS = $("#grid_DNS").data("kendoGrid");
        grid_DNS.dataSource.transport.options.read.url = "/EndDevice/GetDNSResults?searchString=" + searchString;
        grid_DNS.dataSource.read();


        var grid_VIP = $("#grid_VIP").data("kendoGrid");
        grid_VIP.dataSource.transport.options.read.url = "/EndDevice/GetVIPResults?searchString=" + searchString;
        grid_VIP.dataSource.read();

        var grid_VM = $("#grid_VM").data("kendoGrid");
        grid_VM.dataSource.transport.options.read.url = "/EndDevice/GetVMResults?searchString=" + searchString;
        grid_VM.dataSource.read();
    }


    function DownloadHostSearch() {
        var searchString = $("#searchString4567").val();

        if (searchString.length == 0) {
            MessageBox("Information", "Search string is required.", false);
            return;
        }
        location.href = "/EndDevice/DownloadHostSearch?searchString=" + searchString;
    }


    function EmailHostSearch() {
        var searchString = $("#searchString4567").val();

        if (searchString.length == 0) {
            MessageBox("Information", "Search string is required.", false);
            return;
        }


        $.ajax({
            url: "/EndDevice/EmailHostSearch",
            type: "POST",
            data: { searchString: searchString },
            dataType: "text",
            success: function (data) {
                if (data == "T") {
                    MessageBox("Information", "Email sent successfully.", false);
                } else {
                    MessageBox("Information", "Error sending email. <br>" + data, false);
                }
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }




</script>