<style>
	.typeahead-demo .custom-popup-wrapper {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		background-color: #f9f9f9;
	}

		.typeahead-demo .custom-popup-wrapper > .message {
			padding: 10px 20px;
			border-bottom: 1px solid #ddd;
			color: #868686;
		}

		.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
			position: static;
			float: none;
			display: block;
			min-width: 160px;
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}

	.tabContainer {
		max-height: 400px;
		overflow: auto;
		width: 80%;
	}

	.tableData {
		border-left: solid 1px #000000;
		border-top: solid 1px #000000;
		width: 100%;
		/*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
		font-family: "Lucida Console", Monaco, monospace;
		font-size: 14px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 20px;
	}

		.tableData tr {
		}

			.tableData tr.success {
				background-color: #554a4a;
				border-left: solid 1px #000000;
				border-top: solid 1px #000000;
				padding-top: 0;
				padding-bottom: 0;
			}

			.tableData tr.warning {
				background-color: #ff6a00;
				color: cornsilk;
				border-left: solid 1px #000000;
				border-top: solid 1px #000000;
			}

			.tableData tr.danger {
				background-color: #e83108;
				border-left: solid 1px #000000;
				border-top: solid 1px #000000;
			}


		.tableData td, .tableData th {
			border-right: solid 1px #000000;
			border-bottom: solid 1px #000000;
			text-align: left;
			padding: 2px;
		}

		.tableData td {
			border-left: solid 1px #000000;
			border-top: solid 1px #000000;
		}

		.tableData th {
			background-color: #808080;
			padding: 2px 2px;
			border-bottom-color: #ff6a00;
			border-left: solid 1px #000000;
			border-top: solid 1px #000000;
		}

	.odd {
		background-color: #554a4a;
	}

	.even {
		background-color: #00b9ff;
	}

	tr.sub {
		display: none;
	}

	.CX {
		width: 35px;
	}

		.CX span {
			font-family: fantasy;
			font-size: 15px;
			display: block;
			width: 100%;
			cursor: pointer;
			text-align: center;
		}

	.refreshdiv {
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
	}

	.list-group-item sm {
		padding: 3px 10px;
	}
</style>


<div id="AngularTemplatePlaceHolder006"></div>

<div id="AngularTemplateBody006">



	<div class="container" style="width:98%" ng-app="MainApp">
		<div class="bs-docs" ng-controller="VMSearchController">
			<div class="row">
				<h4>This form provideds you with the ability to search across all servers and systems for specific files. </h4>
			</div>
			<div class="row">
				<div class="col-sm-2">Server Name</div>
				<div class="col-sm-2">System Tag:</div>
				<div class="col-sm-2">File Owner:</div>
				<div class="col-sm-2">File Info:</div>
				<div class="col-sm-1">Remediated:</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<input type="text" ng-model="searchServer" />
				</div>
				<div class="col-sm-2">
					<input type="text" ng-model="searchTag" />
				</div>
				<div class="col-sm-2">
					<input type="text" ng-model="searchOwner" />
				</div>
				<div class="col-sm-2">
					<input type="text" ng-model="searchFile" />

				</div>
				<div class="col-sm-1">
					<input type="checkbox" checked ng-model="searchActive" />
				</div>

				<div class="col-sm-1">
					<button class="btn btn-default" ng-click="findSearch()">Submit</button>
				</div>
				<div class="col-sm-1">
					Total:{{totalItems}}
				</div>
			</div>
			<hr />
			<hr />
			<div class="row">
				<div class="col-sm12">

					<table class="tableData" border="1" cellspacing="12" cellpadding="0">
						<thead>
							<tr style="">
								<th>Server</th>
								<th>Server Tag</th>
								<th>Owner</th>
								<th>Details</th>
								<th><span tooltip-popup-close-delay='500' uib-tooltip='Indicates that the record has been remediated'>R</span></th>
								<th>Remediated By</th>
								<th style="width:200px"><span tooltip-popup-close-delay='500' uib-tooltip='The Business or Client App'>Business App</span></th>
								<th><span tooltip-popup-close-delay='500' uib-tooltip='The group that will handle remediation'>App Owner</span></th>
								<th><span tooltip-popup-close-delay='500' uib-tooltip='The software related to the app. Java, Oracle, etc..'>Software App</span></th>
								<th style="width:300px">Comments</th>
								<th style="width:40px">Results</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="record in recordList">
								<td style="width:auto">{{record.server}}</td>
								<td style="width:auto">{{record.serverInfo}}</td>
								<td style="width:auto">{{record.recordOwner}}</td>
								<td style="width:auto">{{record.recordDetails}}</td>
								<td><input type="checkbox" ng-model="record.remediated" class="form-inline" style="width:18px;height:18px" /></td>
								<td>{{record.remediatedBy}}</td>
								<td><input type="text" class="form-control input-sm" style="height:20px" ng-model="record.businessApp" /></td>
								<td>
									<select class="form-control input-sm" ng-model="record.assignedTo" ng-options="I for I in SMGroups"></select>
								</td>
								<td><input type="text" class="form-control input-sm" style="height:20px" ng-model="record.programApp" /></td>
								<td><input type="text" class="form-control input-sm" style="height:20px" ng-model="record.notes" /></td>
								<td>
									<button type="button" class="btn btn-default btn-sm" style="height:20px; width:20px" ng-click="submitUpdate(record)" ng-hide="record.editable"><i class="fa fa-pencil"></i></button>
									<span ng-show="record.working"><button type="button" style="height:20px; width:20px" class="btn btn-warning btn-sm"><i class="fa fa-refresh"></i></button></span>
									<span ng-show="record.updated"><button type="button" style="height:20px; width:20px" class="btn btn-success btn-sm"><i class="fa fa-smile-o"></i></button></span>
								</td>
							</tr>
						</tbody>
					</table>
					<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="30" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
				</div>
			</div>
			<div class="row">
				Apply update to multiple records at once: <input type="checkbox" ng-model="massUpdate" ng-change="!massUpdate" class="form-inline" style="width:18px;height:18px" />
			</div>

			<div class="row" ng-show="massUpdate">


				<div style="float:left; padding:0px 10px 0px 0px">
					Remediated: <input type="checkbox" ng-model="massRemediated" class="form-inline" style="width:18px;height:18px" />
				</div>
				<div style="float:left; padding:0px 10px 0px 0px">
					Business App: <input type="text" class="form-control" ng-model="massUpdateBusinessApp" />
				</div>
				<div style="float:left; padding:0px 10px 0px 0px">
					App Owner <select class="form-control input-sm" ng-model="massUpdateAppOwner" ng-options="I for I in SMGroups"></select>
				</div>
				<div style="float:left; padding:0px 10px 0px 0px">
					Software App: <input type="text" class="form-control" ng-model="massUpdateAppName" />
				</div>
				<div style="float:left; padding:0px 10px 0px 0px">
					Comments <input type="text" class="form-control" ng-model="massUpdateNotes" />
				</div>
				<div style="float:left; padding:0px 10px 0px 0px">
					<button type="button" class="btn btn-danger" ng-click="searchConfirmMassUpdate(selectedServer, recordOwner, recordDetails)"> Update Records</button>
				</div>
			</div>
			<div class="row">
				<div style="float:left; padding:0px 10px 0px 0px" ng-show="searchmassUpdateShowConfirm">
					Warning:  You about to modify {{massUpdateRecordCount}} number of records.  Please click the Confirm button if you want to proceed.
				</div>
				<div style="float:left; padding:0px 10px 0px 0px" ng-show="searchmassUpdateShowConfirm">
					<button type="button" class="btn btn-danger" ng-click="searchApplyMassUpdate()"> Confirm</button>
				</div>
				<div ng-show="massUpdateResults"> Updates have been applied.</div>
			</div>
			<div ng-show="loading" class="refreshdiv">
				<h2>LOADING</h2><br /><center><i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i></center>
			</div>
		</div>
	</div>



</div>



<script>


	var AngularTemplateBody = $("#AngularTemplateBody006").html();

	$("#AngularTemplateBody006").remove();
	$("#btnTriggerAngular006").click();


	$(function () {
		$('body').on('click', '.CX span', function () {
			//When Click On + sign
			var poolitem = document.getElementById("pooldata");
			if ($(this).text() == '+') {
				$(this).text('-');
			}
			else {
				$(this).text('+');
			}
			$(this).closest('tr', 'pooldata') // row of + sign
				.next('tr', 'pooldata') // next row of + sign
				.toggle(); // if show then hide else show

		});
	});

</script>
